@model TraineeWebapp_DOTNETMVC.Models.Trainee

@{
    ViewBag.Title = "Create New Trainee";
}

<h2>Create Trainee</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(map => map.TraineeID)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(map => map.Name)
            @Html.TextBoxFor(map => map.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(map => map.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(map => map.Email)
            @Html.TextBoxFor(map => map.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(map => map.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(map => map.PhoneNumber)
            @Html.TextBoxFor(map => map.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(map => map.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(map => map.Department)
            @Html.TextBoxFor(map => map.Department, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(map => map.JoiningDate)
            @Html.TextBoxFor(map => map.JoiningDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        </div>

        <div class="form-group">
            @Html.LabelFor(map => map.Gender)
            @Html.DropDownListFor(map => map.Gender, new List<SelectListItem> {
                new SelectListItem { Text = "Male", Value = "Male" },
                new SelectListItem { Text = "Female", Value = "Female" },
                new SelectListItem { Text = "Other", Value = "Other" }
            }, "Select Gender", new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Upload Photo</label>
            <input type="file" name="PhotoUpload" class="form-control" accept="image/*" />
        </div>

        <br />
        <input type="submit" value="Create" class="btn btn-success" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
