@model TraineeWebapp_DOTNETMVC.Models.Trainee

@{ 
    ViewBag.Title = "Trainee Details";
}

<h2>Trainee Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Email</dt>
        <dd>@Model.Email</dd>

        <dt>Phone Number</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>Deptartment</dt>
        <dd>@Model.Department</dd>

        <dt>Joining Date</dt>
        <dd>@Model.JoiningDate</dd>

        <dt>Gender</dt>
        <dd>@Model.Gender</dd>

        <dt>Photo</dt>
        <dd>
            @if (Model.Photo != null)
            {
                var base64 = Convert.ToBase64String(Model.Photo);
                var imgSource = String.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgSource" width="150" height="150" />
            }
            else
            {
                <p>No photo available</p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TraineeID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to list", "Index", null, new{@class = "btn btn-secondary"})
</p>


